In [4]:
import pandas as pd
from pandas import DataFrame
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
#%matplotlib inline
import yfinance as yf
# pip install yfinance --upgrade --no-cache-dir <- 이거 bash terminal 에서 실행
import plotly
import plotly.graph_objects as go #matplotlib 와 개념 유사
import plotly.express as px # seaborn과 개념적으로 유사

# 한글 폰트 실행
from matplotlib import rcParams
from matplotlib import font_manager,rc
rcParams['axes.unicode_minus']=False
plt.rcParams['font.family']='Malgun Gothic'
font_name=font_manager.FontProperties(fname='c:/Windows/Fonts/malgun.ttf').get_name()
rc('font',family=font_name)

# , index_col = 0 | parse_dates = ['컬럼명']
## 시계열 데이터 불러올 때, 날짜 인덱스로 불러올 때
- , index_col = 0 : 날짜 데이터를 인덱스로 만든다. (type은 index)
- , parse_dates = ['컬럼명'] : 지정한 컬럼을 인덱스가 되면서 datetime으로 바뀜. (type은 range index)
- index와 rangeindex 차이 ?
> 시계열 자료를 다룰 때는, 기본적으로 날짜 칼럼이 datetime 형태여야 함 !

In [5]:
df=pd.read_excel("c:/Archiving/IMDGB/step02_ds_basic/dataset/ss_ex_1.xlsx")
df.head()

C:\iMDGBA\venv\Lib\site-packages\openpyxl\styles\stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,일자,종가,대비,등락률,시가,고가,저가,거래량,거래대금,시가총액,상장주식수
0,2021/08/13,74400,-2600,-3.38,75800,76000,74100,61270643,4575267536355,444151821720000,5969782550
1,2021/08/12,77000,-1500,-1.91,77100,78200,76900,42365223,3276635421700,459673256350000,5969782550
2,2021/08/11,78500,-1700,-2.12,79600,79800,78500,30241137,2389977254924,468627930175000,5969782550
3,2021/08/10,80200,-1300,-1.60,82300,82400,80100,20362639,1643107615500,478776560510000,5969782550
4,2021/08/09,81500,0,0.00,81500,82300,80900,15522581,1267668377900,486537277825000,5969782550

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 127 entries, 0 to 126
Data columns (total 11 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   일자      127 non-null    object
 1   종가      127 non-null    int64
 2   대비      127 non-null    int64
 3   등락률     127 non-null    float64
 4   시가      127 non-null    int64
 5   고가      127 non-null    int64
 6   저가      127 non-null    int64
 7   거래량     127 non-null    int64
 8   거래대금    127 non-null    int64
 9   시가총액    127 non-null    int64
 10  상장주식수   127 non-null    int64
dtypes: float64(1), int64(9), object(1)
memory usage: 11.0+ KB

In [7]:
# index_col = 0

In [8]:
df1 = pd.read_excel("c:/Archiving/IMDGB/step02_ds_basic/dataset/ss_ex_1.xlsx", index_col=0 )
df1.head()

C:\iMDGBA\venv\Lib\site-packages\openpyxl\styles\stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,종가,대비,등락률,시가,고가,저가,거래량,거래대금,시가총액,상장주식수
일자,,,,,,,,,,
2021/08/13,74400,-2600,-3.38,75800,76000,74100,61270643,4575267536355,444151821720000,5969782550
2021/08/12,77000,-1500,-1.91,77100,78200,76900,42365223,3276635421700,459673256350000,5969782550
2021/08/11,78500,-1700,-2.12,79600,79800,78500,30241137,2389977254924,468627930175000,5969782550
2021/08/10,80200,-1300,-1.60,82300,82400,80100,20362639,1643107615500,478776560510000,5969782550
2021/08/09,81500,0,0.00,81500,82300,80900,15522581,1267668377900,486537277825000,5969782550

In [9]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 127 entries, 2021/08/13 to 2021/02/15
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   종가      127 non-null    int64
 1   대비      127 non-null    int64
 2   등락률     127 non-null    float64
 3   시가      127 non-null    int64
 4   고가      127 non-null    int64
 5   저가      127 non-null    int64
 6   거래량     127 non-null    int64
 7   거래대금    127 non-null    int64
 8   시가총액    127 non-null    int64
 9   상장주식수   127 non-null    int64
dtypes: float64(1), int64(9)
memory usage: 10.9+ KB

In [10]:
type(df1.index)

pandas.core.indexes.base.Index

In [17]:
# , parse_dates = ['컬럼 명'] : 해당 컬럼이 날짜형(datetime)이라는 뜻
df2=pd.read_excel("c:/Archiving/IMDGB/step02_ds_basic/dataset/ss_ex_1.xlsx", parse_dates=['일자'])
df2.head()

C:\iMDGBA\venv\Lib\site-packages\openpyxl\styles\stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,일자,종가,대비,등락률,시가,고가,저가,거래량,거래대금,시가총액,상장주식수
0,2021-08-13,74400,-2600,-3.38,75800,76000,74100,61270643,4575267536355,444151821720000,5969782550
1,2021-08-12,77000,-1500,-1.91,77100,78200,76900,42365223,3276635421700,459673256350000,5969782550
2,2021-08-11,78500,-1700,-2.12,79600,79800,78500,30241137,2389977254924,468627930175000,5969782550
3,2021-08-10,80200,-1300,-1.60,82300,82400,80100,20362639,1643107615500,478776560510000,5969782550
4,2021-08-09,81500,0,0.00,81500,82300,80900,15522581,1267668377900,486537277825000,5969782550

In [18]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 127 entries, 0 to 126
Data columns (total 11 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   일자      127 non-null    datetime64[ns]
 1   종가      127 non-null    int64
 2   대비      127 non-null    int64
 3   등락률     127 non-null    float64
 4   시가      127 non-null    int64
 5   고가      127 non-null    int64
 6   저가      127 non-null    int64
 7   거래량     127 non-null    int64
 8   거래대금    127 non-null    int64
 9   시가총액    127 non-null    int64
 10  상장주식수   127 non-null    int64
dtypes: datetime64[ns](1), float64(1), int64(9)
memory usage: 11.0 KB

In [19]:
df2.index

RangeIndex(start=0, stop=127, step=1)

In [20]:
type(df2.index)

pandas.core.indexes.range.RangeIndex

In [21]:
# 시계열 데이터의 날짜를 날짜형 데이터로 바꾸자 

df3=pd.read_excel("c:/Archiving/IMDGB/step02_ds_basic/dataset/ss_ex_1.xlsx")
df3.head()

C:\iMDGBA\venv\Lib\site-packages\openpyxl\styles\stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,일자,종가,대비,등락률,시가,고가,저가,거래량,거래대금,시가총액,상장주식수
0,2021/08/13,74400,-2600,-3.38,75800,76000,74100,61270643,4575267536355,444151821720000,5969782550
1,2021/08/12,77000,-1500,-1.91,77100,78200,76900,42365223,3276635421700,459673256350000,5969782550
2,2021/08/11,78500,-1700,-2.12,79600,79800,78500,30241137,2389977254924,468627930175000,5969782550
3,2021/08/10,80200,-1300,-1.60,82300,82400,80100,20362639,1643107615500,478776560510000,5969782550
4,2021/08/09,81500,0,0.00,81500,82300,80900,15522581,1267668377900,486537277825000,5969782550

In [22]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 127 entries, 0 to 126
Data columns (total 11 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   일자      127 non-null    object
 1   종가      127 non-null    int64
 2   대비      127 non-null    int64
 3   등락률     127 non-null    float64
 4   시가      127 non-null    int64
 5   고가      127 non-null    int64
 6   저가      127 non-null    int64
 7   거래량     127 non-null    int64
 8   거래대금    127 non-null    int64
 9   시가총액    127 non-null    int64
 10  상장주식수   127 non-null    int64
dtypes: float64(1), int64(9), object(1)
memory usage: 11.0+ KB

In [23]:
df3.index

RangeIndex(start=0, stop=127, step=1)

In [24]:
df3=pd.read_excel("c:/Archiving/IMDGB/step02_ds_basic/dataset/ss_ex_1.xlsx", index_col = 0)
df3.head()

C:\iMDGBA\venv\Lib\site-packages\openpyxl\styles\stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,종가,대비,등락률,시가,고가,저가,거래량,거래대금,시가총액,상장주식수
일자,,,,,,,,,,
2021/08/13,74400,-2600,-3.38,75800,76000,74100,61270643,4575267536355,444151821720000,5969782550
2021/08/12,77000,-1500,-1.91,77100,78200,76900,42365223,3276635421700,459673256350000,5969782550
2021/08/11,78500,-1700,-2.12,79600,79800,78500,30241137,2389977254924,468627930175000,5969782550
2021/08/10,80200,-1300,-1.60,82300,82400,80100,20362639,1643107615500,478776560510000,5969782550
2021/08/09,81500,0,0.00,81500,82300,80900,15522581,1267668377900,486537277825000,5969782550

In [25]:
df3.index

Index(['2021/08/13', '2021/08/12', '2021/08/11', '2021/08/10', '2021/08/09',
       '2021/08/06', '2021/08/05', '2021/08/04', '2021/08/03', '2021/08/02',
       ...
       '2021/02/26', '2021/02/25', '2021/02/24', '2021/02/23', '2021/02/22',
       '2021/02/19', '2021/02/18', '2021/02/17', '2021/02/16', '2021/02/15'],
      dtype='object', name='일자', length=127)

In [26]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
Index: 127 entries, 2021/08/13 to 2021/02/15
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   종가      127 non-null    int64
 1   대비      127 non-null    int64
 2   등락률     127 non-null    float64
 3   시가      127 non-null    int64
 4   고가      127 non-null    int64
 5   저가      127 non-null    int64
 6   거래량     127 non-null    int64
 7   거래대금    127 non-null    int64
 8   시가총액    127 non-null    int64
 9   상장주식수   127 non-null    int64
dtypes: float64(1), int64(9)
memory usage: 10.9+ KB

In [27]:
type(df3.index)

pandas.core.indexes.base.Index

In [28]:
# 날짜 인덱스의 type을 날짜형(date time)으로 바꾸자

## pd.to_datetime

In [29]:
df3.index = pd.to_datetime(df3.index)
df3.head(), type(df3.index)

(               종가    대비   등락률     시가     고가     저가       거래량           거래대금  \
 일자
 2021-08-13  74400 -2600 -3.38  75800  76000  74100  61270643  4575267536355
 2021-08-12  77000 -1500 -1.91  77100  78200  76900  42365223  3276635421700
 2021-08-11  78500 -1700 -2.12  79600  79800  78500  30241137  2389977254924
 2021-08-10  80200 -1300 -1.60  82300  82400  80100  20362639  1643107615500
 2021-08-09  81500     0  0.00  81500  82300  80900  15522581  1267668377900

                        시가총액       상장주식수
 일자
 2021-08-13  444151821720000  5969782550
 2021-08-12  459673256350000  5969782550
 2021-08-11  468627930175000  5969782550
 2021-08-10  478776560510000  5969782550
 2021-08-09  486537277825000  5969782550  ,
 pandas.core.indexes.datetimes.DatetimeIndex)

In [30]:
df3.head()

,종가,대비,등락률,시가,고가,저가,거래량,거래대금,시가총액,상장주식수
일자,,,,,,,,,,
2021-08-13,74400,-2600,-3.38,75800,76000,74100,61270643,4575267536355,444151821720000,5969782550
2021-08-12,77000,-1500,-1.91,77100,78200,76900,42365223,3276635421700,459673256350000,5969782550
2021-08-11,78500,-1700,-2.12,79600,79800,78500,30241137,2389977254924,468627930175000,5969782550
2021-08-10,80200,-1300,-1.60,82300,82400,80100,20362639,1643107615500,478776560510000,5969782550
2021-08-09,81500,0,0.00,81500,82300,80900,15522581,1267668377900,486537277825000,5969782550

In [31]:
type(df3.index)

pandas.core.indexes.datetimes.DatetimeIndex

In [32]:
# index_col and parse_dates
df4=pd.read_excel("c:/Archiving/IMDGB/step02_ds_basic/dataset/ss_ex_1.xlsx", parse_dates=['일자'], index_col=0)
df4.head()

C:\iMDGBA\venv\Lib\site-packages\openpyxl\styles\stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,종가,대비,등락률,시가,고가,저가,거래량,거래대금,시가총액,상장주식수
일자,,,,,,,,,,
2021-08-13,74400,-2600,-3.38,75800,76000,74100,61270643,4575267536355,444151821720000,5969782550
2021-08-12,77000,-1500,-1.91,77100,78200,76900,42365223,3276635421700,459673256350000,5969782550
2021-08-11,78500,-1700,-2.12,79600,79800,78500,30241137,2389977254924,468627930175000,5969782550
2021-08-10,80200,-1300,-1.60,82300,82400,80100,20362639,1643107615500,478776560510000,5969782550
2021-08-09,81500,0,0.00,81500,82300,80900,15522581,1267668377900,486537277825000,5969782550

In [33]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 127 entries, 2021-08-13 to 2021-02-15
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   종가      127 non-null    int64
 1   대비      127 non-null    int64
 2   등락률     127 non-null    float64
 3   시가      127 non-null    int64
 4   고가      127 non-null    int64
 5   저가      127 non-null    int64
 6   거래량     127 non-null    int64
 7   거래대금    127 non-null    int64
 8   시가총액    127 non-null    int64
 9   상장주식수   127 non-null    int64
dtypes: float64(1), int64(9)
memory usage: 10.9 KB

In [34]:
df4.index

DatetimeIndex(['2021-08-13', '2021-08-12', '2021-08-11', '2021-08-10',
               '2021-08-09', '2021-08-06', '2021-08-05', '2021-08-04',
               '2021-08-03', '2021-08-02',
               ...
               '2021-02-26', '2021-02-25', '2021-02-24', '2021-02-23',
               '2021-02-22', '2021-02-19', '2021-02-18', '2021-02-17',
               '2021-02-16', '2021-02-15'],
              dtype='datetime64[ns]', name='일자', length=127, freq=None)

In [35]:
type(df4.index)

pandas.core.indexes.datetimes.DatetimeIndex

# filter 메서드
- iloc, loc와 마찬가지로 행과, 열 조회하는 것임
> 근데 filter 쓰는 이유
> - 정규표현식 등 활요하면
> - 수많은 데이터에서 조회하기 쉽기 때문
> - 정규표현식 사용하면 원하는 행과 열 뽑아 낼 수 있음
> - ex) 카드 명이 상품ㅁ명 수천개인데, 다 텍스트임. 근데 그 네임ㅇ에 원칙이 있음. 그러면 키워드로 원하는 행 뽑아 낼 수 있음.

In [36]:
data = [
    [1416, 1416, 2994, 1755],
    [6.42, 17.63, 21.09, 13.93],
    [1.10, 1.49, 2.06, 1.88]
]

columns = ["2018/12", "2019/12", "2020/12", "2021/12(E)"]
index = ["DPS", "PER", "PBR"]

df = DataFrame(data=data, index=index, columns=columns)
df

     2018/12  2019/12  2020/12  2021/12(E)
DPS  1416.00  1416.00  2994.00     1755.00
PER     6.42    17.63    21.09       13.93
PBR     1.10     1.49     2.06        1.88

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3 entries, DPS to PBR
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   2018/12     3 non-null      float64
 1   2019/12     3 non-null      float64
 2   2020/12     3 non-null      float64
 3   2021/12(E)  3 non-null      float64
dtypes: float64(4)
memory usage: 120.0+ bytes

## 필터 메서드 적용

In [38]:
df.filter(items=['2018/12'])

     2018/12
DPS  1416.00
PER     6.42
PBR     1.10

In [39]:
df.filter(items=['PER'],axis=0) # 가로: axis = 0

     2018/12  2019/12  2020/12  2021/12(E)
PER     6.42    17.63    21.09       13.93

In [41]:
df.filter(items=['PER'])

Empty DataFrame
Columns: []
Index: [DPS, PER, PBR]

## 정규표현식 (regex)
- 정규표현식을 활용해 행과 열을 조회해보자
- 블로그

In [42]:
df.filter(regex='2020')

     2020/12
DPS  2994.00
PER    21.09
PBR     2.06

In [43]:
df.filter(regex='20')

     2018/12  2019/12  2020/12  2021/12(E)
DPS  1416.00  1416.00  2994.00     1755.00
PER     6.42    17.63    21.09       13.93
PBR     1.10     1.49     2.06        1.88

In [45]:
# 행 조회할 건데, R 들어간 것만 조회
df.filter(regex='R', axis=0)

     2018/12  2019/12  2020/12  2021/12(E)
PER     6.42    17.63    21.09       13.93
PBR     1.10     1.49     2.06        1.88

In [46]:
df.filter(regex='S', axis=0)

     2018/12  2019/12  2020/12  2021/12(E)
DPS   1416.0   1416.0   2994.0      1755.0

In [47]:
# 행을 조회할 건데, R로 끝나는 모든 패턴을 조회
df.filter(regex='R$', axis = 0)

     2018/12  2019/12  2020/12  2021/12(E)
PER     6.42    17.63    21.09       13.93
PBR     1.10     1.49     2.06        1.88

# 정렬하기

## .set_index로 한 컬럼 인덱스로 지정하기
- inplace=True는 원본 데이터를 직접 수정하며, 새로운 변수 할당이 필요 없음.
- inplace=False(기본값)는 수정된 새로운 DataFrame을 반환하며, 원본은 그대로 유지됨. 새로운 결과를 저장하고 싶다면 변수를 지정해야 함.

In [48]:
data = [
    ["037730", "3R", 1510],
    ["036360", "3SOFT", 1790],
    ["005670", "ACTS", 1185]
]

columns = ["종목코드", "종목명", "현재가"]
df = DataFrame(data=data, columns=columns)
df.set_index("종목코드", inplace=True)
print(df)

          종목명   현재가
종목코드
037730     3R  1510
036360  3SOFT  1790
005670   ACTS  1185

## .sort_values

In [49]:
# 컬럼 '현재가' 기준으로 정렬
df.sort_values(by='현재가')
print(df.sort_values(by='현재가'))

          종목명   현재가
종목코드
005670   ACTS  1185
037730     3R  1510
036360  3SOFT  1790

## ,ascendig=False : 내림차순
- =True 가 기본값 : 오름차순
- =False : 내림차순

In [51]:
df.sort_values(by='현재가',ascending=False)

          종목명   현재가
종목코드
036360  3SOFT  1790
037730     3R  1510
005670   ACTS  1185

In [52]:
df.sort_values(by='종목명',ascending=False)

          종목명   현재가
종목코드
005670   ACTS  1185
036360  3SOFT  1790
037730     3R  1510

## .sort_index()

In [53]:
df.index

Index(['037730', '036360', '005670'], dtype='object', name='종목코드')

In [57]:
# 기본: 인덱스 기준
df.sort_index()

          종목명   현재가
종목코드
005670   ACTS  1185
036360  3SOFT  1790
037730     3R  1510

In [58]:
# ascending=False : 인덱스 기준 역순
df.sort_index(ascending=False)

          종목명   현재가
종목코드
037730     3R  1510
036360  3SOFT  1790
005670   ACTS  1185

# 인덱스 연산 (.Index)
- 집합 연산 개념
- 데이터 병합할 때 사용

## union: 합집합

idx1 = pd.Index([1, 2, 3])
idx2 = pd.Index([4, 2, 3])
idx1.union(idx2)

## intersection: 교집합

In [61]:
idx1.intersection(idx2)

Index([2, 3], dtype='int64')

## difference: 차집합

In [62]:
idx1.difference(idx2)

Index([1], dtype='int64')

# Groupby 연산
- 연습할 것: https://pandas.pydata.org/docs/user_guide/groupby.html

In [63]:
data = [
    ["2차전지(생산)", "SK이노베이션", 10.19, 1.29],
    ["해운", "팬오션", 21.23, 0.95],
    ["시스템반도체", "티엘아이", 35.97, 1.12],
    ["해운", "HMM", 21.52, 3.20],
    ["시스템반도체", "아이에이", 37.32, 3.55],
    ["2차전지(생산)", "LG화학", 83.06, 3.75]
]

columns = ["테마", "종목명", "PER", "PBR"]
df = DataFrame(data=data, columns=columns)
df

         테마      종목명    PER   PBR
0  2차전지(생산)  SK이노베이션  10.19  1.29
1        해운      팬오션  21.23  0.95
2    시스템반도체     티엘아이  35.97  1.12
3        해운      HMM  21.52  3.20
4    시스템반도체     아이에이  37.32  3.55
5  2차전지(생산)     LG화학  83.06  3.75

In [64]:
# groupby 해보기
result = df.groupby("테마")[["PER","PBR"]]
print(result)
print(type(result))

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x000002939DDD5010>
<class 'pandas.core.groupby.generic.DataFrameGroupBy'>

- 이 구문은 그룹화된 DataFrameGroupBy 객체를 반환합니다.
- 아직 이 단계에서는 데이터를 연산하지 않았고, 이를 mean()나 sum() 같은 집계 함수로 계산할 수 있습니다.

In [68]:
# group by 한 것을 집계 함수로 계산해보자
result2 = df.groupby("테마")[["PER","PBR"]].mean()
print(type(result2))

<class 'pandas.core.frame.DataFrame'>

In [69]:
result2

             PER    PBR
테마
2차전지(생산)  46.625  2.520
시스템반도체    36.645  2.335
해운        21.375  2.075