In [4]:
import pandas as pd
from pandas import DataFrame
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
#%matplotlib inline
import yfinance as yf
# pip install yfinance --upgrade --no-cache-dir <- 이거 bash terminal 에서 실행
import plotly
import plotly.graph_objects as go #matplotlib 와 개념 유사
import plotly.express as px # seaborn과 개념적으로 유사

# 한글 폰트 실행
from matplotlib import rcParams
from matplotlib import font_manager,rc
rcParams['axes.unicode_minus']=False
plt.rcParams['font.family']='Malgun Gothic'
font_name=font_manager.FontProperties(fname='c:/Windows/Fonts/malgun.ttf').get_name()
rc('font',family=font_name)

# , index_col = 0 | parse_dates = ['컬럼명']
## 시계열 데이터 불러올 때, 날짜 인덱스로 불러올 때
- , index_col = 0 : 날짜 데이터를 인덱스로 만든다. (type은 index)
- , parse_dates = ['컬럼명'] : 지정한 컬럼을 인덱스가 되면서 datetime으로 바뀜. (type은 range index)
- index와 rangeindex 차이 ?
> 시계열 자료를 다룰 때는, 기본적으로 날짜 칼럼이 datetime 형태여야 함 !

In [5]:
df=pd.read_excel("c:/Archiving/IMDGB/step02_ds_basic/dataset/ss_ex_1.xlsx")
df.head()

C:\iMDGBA\venv\Lib\site-packages\openpyxl\styles\stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,일자,종가,대비,등락률,시가,고가,저가,거래량,거래대금,시가총액,상장주식수
0,2021/08/13,74400,-2600,-3.38,75800,76000,74100,61270643,4575267536355,444151821720000,5969782550
1,2021/08/12,77000,-1500,-1.91,77100,78200,76900,42365223,3276635421700,459673256350000,5969782550
2,2021/08/11,78500,-1700,-2.12,79600,79800,78500,30241137,2389977254924,468627930175000,5969782550
3,2021/08/10,80200,-1300,-1.60,82300,82400,80100,20362639,1643107615500,478776560510000,5969782550
4,2021/08/09,81500,0,0.00,81500,82300,80900,15522581,1267668377900,486537277825000,5969782550

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 127 entries, 0 to 126
Data columns (total 11 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   일자      127 non-null    object
 1   종가      127 non-null    int64
 2   대비      127 non-null    int64
 3   등락률     127 non-null    float64
 4   시가      127 non-null    int64
 5   고가      127 non-null    int64
 6   저가      127 non-null    int64
 7   거래량     127 non-null    int64
 8   거래대금    127 non-null    int64
 9   시가총액    127 non-null    int64
 10  상장주식수   127 non-null    int64
dtypes: float64(1), int64(9), object(1)
memory usage: 11.0+ KB

In [7]:
# index_col = 0

In [8]:
df1 = pd.read_excel("c:/Archiving/IMDGB/step02_ds_basic/dataset/ss_ex_1.xlsx", index_col=0 )
df1.head()

C:\iMDGBA\venv\Lib\site-packages\openpyxl\styles\stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,종가,대비,등락률,시가,고가,저가,거래량,거래대금,시가총액,상장주식수
일자,,,,,,,,,,
2021/08/13,74400,-2600,-3.38,75800,76000,74100,61270643,4575267536355,444151821720000,5969782550
2021/08/12,77000,-1500,-1.91,77100,78200,76900,42365223,3276635421700,459673256350000,5969782550
2021/08/11,78500,-1700,-2.12,79600,79800,78500,30241137,2389977254924,468627930175000,5969782550
2021/08/10,80200,-1300,-1.60,82300,82400,80100,20362639,1643107615500,478776560510000,5969782550
2021/08/09,81500,0,0.00,81500,82300,80900,15522581,1267668377900,486537277825000,5969782550

In [9]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 127 entries, 2021/08/13 to 2021/02/15
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   종가      127 non-null    int64
 1   대비      127 non-null    int64
 2   등락률     127 non-null    float64
 3   시가      127 non-null    int64
 4   고가      127 non-null    int64
 5   저가      127 non-null    int64
 6   거래량     127 non-null    int64
 7   거래대금    127 non-null    int64
 8   시가총액    127 non-null    int64
 9   상장주식수   127 non-null    int64
dtypes: float64(1), int64(9)
memory usage: 10.9+ KB

In [10]:
type(df1.index)

pandas.core.indexes.base.Index

In [17]:
# , parse_dates = ['컬럼 명'] : 해당 컬럼이 날짜형(datetime)이라는 뜻
df2=pd.read_excel("c:/Archiving/IMDGB/step02_ds_basic/dataset/ss_ex_1.xlsx", parse_dates=['일자'])
df2.head()

C:\iMDGBA\venv\Lib\site-packages\openpyxl\styles\stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,일자,종가,대비,등락률,시가,고가,저가,거래량,거래대금,시가총액,상장주식수
0,2021-08-13,74400,-2600,-3.38,75800,76000,74100,61270643,4575267536355,444151821720000,5969782550
1,2021-08-12,77000,-1500,-1.91,77100,78200,76900,42365223,3276635421700,459673256350000,5969782550
2,2021-08-11,78500,-1700,-2.12,79600,79800,78500,30241137,2389977254924,468627930175000,5969782550
3,2021-08-10,80200,-1300,-1.60,82300,82400,80100,20362639,1643107615500,478776560510000,5969782550
4,2021-08-09,81500,0,0.00,81500,82300,80900,15522581,1267668377900,486537277825000,5969782550

In [18]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 127 entries, 0 to 126
Data columns (total 11 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   일자      127 non-null    datetime64[ns]
 1   종가      127 non-null    int64
 2   대비      127 non-null    int64
 3   등락률     127 non-null    float64
 4   시가      127 non-null    int64
 5   고가      127 non-null    int64
 6   저가      127 non-null    int64
 7   거래량     127 non-null    int64
 8   거래대금    127 non-null    int64
 9   시가총액    127 non-null    int64
 10  상장주식수   127 non-null    int64
dtypes: datetime64[ns](1), float64(1), int64(9)
memory usage: 11.0 KB

In [19]:
df2.index

RangeIndex(start=0, stop=127, step=1)

In [20]:
type(df2.index)

pandas.core.indexes.range.RangeIndex

In [21]:
# 시계열 데이터의 날짜를 날짜형 데이터로 바꾸자 

df3=pd.read_excel("c:/Archiving/IMDGB/step02_ds_basic/dataset/ss_ex_1.xlsx")
df3.head()

C:\iMDGBA\venv\Lib\site-packages\openpyxl\styles\stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,일자,종가,대비,등락률,시가,고가,저가,거래량,거래대금,시가총액,상장주식수
0,2021/08/13,74400,-2600,-3.38,75800,76000,74100,61270643,4575267536355,444151821720000,5969782550
1,2021/08/12,77000,-1500,-1.91,77100,78200,76900,42365223,3276635421700,459673256350000,5969782550
2,2021/08/11,78500,-1700,-2.12,79600,79800,78500,30241137,2389977254924,468627930175000,5969782550
3,2021/08/10,80200,-1300,-1.60,82300,82400,80100,20362639,1643107615500,478776560510000,5969782550
4,2021/08/09,81500,0,0.00,81500,82300,80900,15522581,1267668377900,486537277825000,5969782550

In [22]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 127 entries, 0 to 126
Data columns (total 11 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   일자      127 non-null    object
 1   종가      127 non-null    int64
 2   대비      127 non-null    int64
 3   등락률     127 non-null    float64
 4   시가      127 non-null    int64
 5   고가      127 non-null    int64
 6   저가      127 non-null    int64
 7   거래량     127 non-null    int64
 8   거래대금    127 non-null    int64
 9   시가총액    127 non-null    int64
 10  상장주식수   127 non-null    int64
dtypes: float64(1), int64(9), object(1)
memory usage: 11.0+ KB

In [23]:
df3.index

RangeIndex(start=0, stop=127, step=1)

In [24]:
df3=pd.read_excel("c:/Archiving/IMDGB/step02_ds_basic/dataset/ss_ex_1.xlsx", index_col = 0)
df3.head()

C:\iMDGBA\venv\Lib\site-packages\openpyxl\styles\stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,종가,대비,등락률,시가,고가,저가,거래량,거래대금,시가총액,상장주식수
일자,,,,,,,,,,
2021/08/13,74400,-2600,-3.38,75800,76000,74100,61270643,4575267536355,444151821720000,5969782550
2021/08/12,77000,-1500,-1.91,77100,78200,76900,42365223,3276635421700,459673256350000,5969782550
2021/08/11,78500,-1700,-2.12,79600,79800,78500,30241137,2389977254924,468627930175000,5969782550
2021/08/10,80200,-1300,-1.60,82300,82400,80100,20362639,1643107615500,478776560510000,5969782550
2021/08/09,81500,0,0.00,81500,82300,80900,15522581,1267668377900,486537277825000,5969782550

In [25]:
df3.index

Index(['2021/08/13', '2021/08/12', '2021/08/11', '2021/08/10', '2021/08/09',
       '2021/08/06', '2021/08/05', '2021/08/04', '2021/08/03', '2021/08/02',
       ...
       '2021/02/26', '2021/02/25', '2021/02/24', '2021/02/23', '2021/02/22',
       '2021/02/19', '2021/02/18', '2021/02/17', '2021/02/16', '2021/02/15'],
      dtype='object', name='일자', length=127)

In [26]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
Index: 127 entries, 2021/08/13 to 2021/02/15
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   종가      127 non-null    int64
 1   대비      127 non-null    int64
 2   등락률     127 non-null    float64
 3   시가      127 non-null    int64
 4   고가      127 non-null    int64
 5   저가      127 non-null    int64
 6   거래량     127 non-null    int64
 7   거래대금    127 non-null    int64
 8   시가총액    127 non-null    int64
 9   상장주식수   127 non-null    int64
dtypes: float64(1), int64(9)
memory usage: 10.9+ KB

In [27]:
type(df3.index)

pandas.core.indexes.base.Index

In [28]:
# 날짜 인덱스의 type을 날짜형(date time)으로 바꾸자

## pd.to_datetime

In [29]:
df3.index = pd.to_datetime(df3.index)
df3.head(), type(df3.index)

(               종가    대비   등락률     시가     고가     저가       거래량           거래대금  \
 일자
 2021-08-13  74400 -2600 -3.38  75800  76000  74100  61270643  4575267536355
 2021-08-12  77000 -1500 -1.91  77100  78200  76900  42365223  3276635421700
 2021-08-11  78500 -1700 -2.12  79600  79800  78500  30241137  2389977254924
 2021-08-10  80200 -1300 -1.60  82300  82400  80100  20362639  1643107615500
 2021-08-09  81500     0  0.00  81500  82300  80900  15522581  1267668377900

                        시가총액       상장주식수
 일자
 2021-08-13  444151821720000  5969782550
 2021-08-12  459673256350000  5969782550
 2021-08-11  468627930175000  5969782550
 2021-08-10  478776560510000  5969782550
 2021-08-09  486537277825000  5969782550  ,
 pandas.core.indexes.datetimes.DatetimeIndex)

In [30]:
df3.head()

,종가,대비,등락률,시가,고가,저가,거래량,거래대금,시가총액,상장주식수
일자,,,,,,,,,,
2021-08-13,74400,-2600,-3.38,75800,76000,74100,61270643,4575267536355,444151821720000,5969782550
2021-08-12,77000,-1500,-1.91,77100,78200,76900,42365223,3276635421700,459673256350000,5969782550
2021-08-11,78500,-1700,-2.12,79600,79800,78500,30241137,2389977254924,468627930175000,5969782550
2021-08-10,80200,-1300,-1.60,82300,82400,80100,20362639,1643107615500,478776560510000,5969782550
2021-08-09,81500,0,0.00,81500,82300,80900,15522581,1267668377900,486537277825000,5969782550

In [31]:
type(df3.index)

pandas.core.indexes.datetimes.DatetimeIndex

In [32]:
# index_col and parse_dates
df4=pd.read_excel("c:/Archiving/IMDGB/step02_ds_basic/dataset/ss_ex_1.xlsx", parse_dates=['일자'], index_col=0)
df4.head()

C:\iMDGBA\venv\Lib\site-packages\openpyxl\styles\stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,종가,대비,등락률,시가,고가,저가,거래량,거래대금,시가총액,상장주식수
일자,,,,,,,,,,
2021-08-13,74400,-2600,-3.38,75800,76000,74100,61270643,4575267536355,444151821720000,5969782550
2021-08-12,77000,-1500,-1.91,77100,78200,76900,42365223,3276635421700,459673256350000,5969782550
2021-08-11,78500,-1700,-2.12,79600,79800,78500,30241137,2389977254924,468627930175000,5969782550
2021-08-10,80200,-1300,-1.60,82300,82400,80100,20362639,1643107615500,478776560510000,5969782550
2021-08-09,81500,0,0.00,81500,82300,80900,15522581,1267668377900,486537277825000,5969782550

In [33]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 127 entries, 2021-08-13 to 2021-02-15
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   종가      127 non-null    int64
 1   대비      127 non-null    int64
 2   등락률     127 non-null    float64
 3   시가      127 non-null    int64
 4   고가      127 non-null    int64
 5   저가      127 non-null    int64
 6   거래량     127 non-null    int64
 7   거래대금    127 non-null    int64
 8   시가총액    127 non-null    int64
 9   상장주식수   127 non-null    int64
dtypes: float64(1), int64(9)
memory usage: 10.9 KB

In [34]:
df4.index

DatetimeIndex(['2021-08-13', '2021-08-12', '2021-08-11', '2021-08-10',
               '2021-08-09', '2021-08-06', '2021-08-05', '2021-08-04',
               '2021-08-03', '2021-08-02',
               ...
               '2021-02-26', '2021-02-25', '2021-02-24', '2021-02-23',
               '2021-02-22', '2021-02-19', '2021-02-18', '2021-02-17',
               '2021-02-16', '2021-02-15'],
              dtype='datetime64[ns]', name='일자', length=127, freq=None)

In [35]:
type(df4.index)

pandas.core.indexes.datetimes.DatetimeIndex

# filter 메서드
- iloc, loc와 마찬가지로 행과, 열 조회하는 것임
> 근데 filter 쓰는 이유
> - 정규표현식 등 활요하면
> - 수많은 데이터에서 조회하기 쉽기 때문
> - 정규표현식 사용하면 원하는 행과 열 뽑아 낼 수 있음
> - ex) 카드 명이 상품ㅁ명 수천개인데, 다 텍스트임. 근데 그 네임ㅇ에 원칙이 있음. 그러면 키워드로 원하는 행 뽑아 낼 수 있음.

In [36]:
data = [
    [1416, 1416, 2994, 1755],
    [6.42, 17.63, 21.09, 13.93],
    [1.10, 1.49, 2.06, 1.88]
]

columns = ["2018/12", "2019/12", "2020/12", "2021/12(E)"]
index = ["DPS", "PER", "PBR"]

df = DataFrame(data=data, index=index, columns=columns)
df

     2018/12  2019/12  2020/12  2021/12(E)
DPS  1416.00  1416.00  2994.00     1755.00
PER     6.42    17.63    21.09       13.93
PBR     1.10     1.49     2.06        1.88

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3 entries, DPS to PBR
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   2018/12     3 non-null      float64
 1   2019/12     3 non-null      float64
 2   2020/12     3 non-null      float64
 3   2021/12(E)  3 non-null      float64
dtypes: float64(4)
memory usage: 120.0+ bytes

## 필터 메서드 적용

In [38]:
df.filter(items=['2018/12'])

     2018/12
DPS  1416.00
PER     6.42
PBR     1.10

In [39]:
df.filter(items=['PER'],axis=0) # 가로: axis = 0

     2018/12  2019/12  2020/12  2021/12(E)
PER     6.42    17.63    21.09       13.93

In [41]:
df.filter(items=['PER'])

Empty DataFrame
Columns: []
Index: [DPS, PER, PBR]

## 정규표현식 (regex)
- 정규표현식을 활용해 행과 열을 조회해보자
- 블로그

In [42]:
df.filter(regex='2020')

     2020/12
DPS  2994.00
PER    21.09
PBR     2.06

In [43]:
df.filter(regex='20')

     2018/12  2019/12  2020/12  2021/12(E)
DPS  1416.00  1416.00  2994.00     1755.00
PER     6.42    17.63    21.09       13.93
PBR     1.10     1.49     2.06        1.88

In [45]:
# 행 조회할 건데, R 들어간 것만 조회
df.filter(regex='R', axis=0)

     2018/12  2019/12  2020/12  2021/12(E)
PER     6.42    17.63    21.09       13.93
PBR     1.10     1.49     2.06        1.88

In [46]:
df.filter(regex='S', axis=0)

     2018/12  2019/12  2020/12  2021/12(E)
DPS   1416.0   1416.0   2994.0      1755.0

In [47]:
# 행을 조회할 건데, R로 끝나는 모든 패턴을 조회
df.filter(regex='R$', axis = 0)

     2018/12  2019/12  2020/12  2021/12(E)
PER     6.42    17.63    21.09       13.93
PBR     1.10     1.49     2.06        1.88

# 정렬하기

## .set_index로 한 컬럼 인덱스로 지정하기
- inplace=True는 원본 데이터를 직접 수정하며, 새로운 변수 할당이 필요 없음.
- inplace=False(기본값)는 수정된 새로운 DataFrame을 반환하며, 원본은 그대로 유지됨. 새로운 결과를 저장하고 싶다면 변수를 지정해야 함.

In [48]:
data = [
    ["037730", "3R", 1510],
    ["036360", "3SOFT", 1790],
    ["005670", "ACTS", 1185]
]

columns = ["종목코드", "종목명", "현재가"]
df = DataFrame(data=data, columns=columns)
df.set_index("종목코드", inplace=True)
print(df)

          종목명   현재가
종목코드
037730     3R  1510
036360  3SOFT  1790
005670   ACTS  1185

## .sort_values

In [49]:
# 컬럼 '현재가' 기준으로 정렬
df.sort_values(by='현재가')
print(df.sort_values(by='현재가'))

          종목명   현재가
종목코드
005670   ACTS  1185
037730     3R  1510
036360  3SOFT  1790

## ,ascendig=False : 내림차순
- =True 가 기본값 : 오름차순
- =False : 내림차순

In [51]:
df.sort_values(by='현재가',ascending=False)

          종목명   현재가
종목코드
036360  3SOFT  1790
037730     3R  1510
005670   ACTS  1185

In [52]:
df.sort_values(by='종목명',ascending=False)

          종목명   현재가
종목코드
005670   ACTS  1185
036360  3SOFT  1790
037730     3R  1510

## .sort_index()

In [53]:
df.index

Index(['037730', '036360', '005670'], dtype='object', name='종목코드')

In [57]:
# 기본: 인덱스 기준
df.sort_index()

          종목명   현재가
종목코드
005670   ACTS  1185
036360  3SOFT  1790
037730     3R  1510

In [58]:
# ascending=False : 인덱스 기준 역순
df.sort_index(ascending=False)

          종목명   현재가
종목코드
037730     3R  1510
036360  3SOFT  1790
005670   ACTS  1185

# 인덱스 연산 (.Index)
- 집합 연산 개념
- 데이터 병합할 때 사용

## union: 합집합

idx1 = pd.Index([1, 2, 3])
idx2 = pd.Index([4, 2, 3])
idx1.union(idx2)

## intersection: 교집합

In [61]:
idx1.intersection(idx2)

Index([2, 3], dtype='int64')

## difference: 차집합

In [62]:
idx1.difference(idx2)

Index([1], dtype='int64')

# Groupby 연산
- 연습할 것: https://pandas.pydata.org/docs/user_guide/groupby.html

In [63]:
data = [
    ["2차전지(생산)", "SK이노베이션", 10.19, 1.29],
    ["해운", "팬오션", 21.23, 0.95],
    ["시스템반도체", "티엘아이", 35.97, 1.12],
    ["해운", "HMM", 21.52, 3.20],
    ["시스템반도체", "아이에이", 37.32, 3.55],
    ["2차전지(생산)", "LG화학", 83.06, 3.75]
]

columns = ["테마", "종목명", "PER", "PBR"]
df = DataFrame(data=data, columns=columns)
df

         테마      종목명    PER   PBR
0  2차전지(생산)  SK이노베이션  10.19  1.29
1        해운      팬오션  21.23  0.95
2    시스템반도체     티엘아이  35.97  1.12
3        해운      HMM  21.52  3.20
4    시스템반도체     아이에이  37.32  3.55
5  2차전지(생산)     LG화학  83.06  3.75

In [64]:
# groupby 해보기
result = df.groupby("테마")[["PER","PBR"]]
print(result)
print(type(result))

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x000002939DDD5010>
<class 'pandas.core.groupby.generic.DataFrameGroupBy'>

- 이 구문은 그룹화된 DataFrameGroupBy 객체를 반환합니다.
- 아직 이 단계에서는 데이터를 연산하지 않았고, 이를 mean()나 sum() 같은 집계 함수로 계산할 수 있습니다.

In [68]:
# group by 한 것을 집계 함수로 계산해보자
result2 = df.groupby("테마")[["PER","PBR"]].mean()
print(type(result2))

<class 'pandas.core.frame.DataFrame'>

In [69]:
result2

             PER    PBR
테마
2차전지(생산)  46.625  2.520
시스템반도체    36.645  2.335
해운        21.375  2.075

In [77]:
# vscode에서 내보내기
# result = df.groupby("테마")[["PER","PBR"]].mean()
# result.to_csv("c:/Archiving/IMDGB/20241004/output/result_csv_240930.xlsx")
# 오 된다. 왜 그래프는 안되지 <- vs code 에서

## .get_group
- group by로 그룹화 한것을 안에서 쪼개는 것

In [70]:
df

         테마      종목명    PER   PBR
0  2차전지(생산)  SK이노베이션  10.19  1.29
1        해운      팬오션  21.23  0.95
2    시스템반도체     티엘아이  35.97  1.12
3        해운      HMM  21.52  3.20
4    시스템반도체     아이에이  37.32  3.55
5  2차전지(생산)     LG화학  83.06  3.75

In [75]:
# 테마로 그룹화한 것 안에서 쪼개
print(df.groupby("테마").get_group("2차전지(생산)"))
print(df.groupby("테마").get_group("시스템반도체"))
print(df.groupby("테마").get_group("해운"))

         테마      종목명    PER   PBR
0  2차전지(생산)  SK이노베이션  10.19  1.29
5  2차전지(생산)     LG화학  83.06  3.75
       테마   종목명    PER   PBR
2  시스템반도체  티엘아이  35.97  1.12
4  시스템반도체  아이에이  37.32  3.55
   테마  종목명    PER   PBR
1  해운  팬오션  21.23  0.95
3  해운  HMM  21.52  3.20

In [73]:
df.groupby('테마').get_group('시스템반도체')

       테마   종목명    PER   PBR
2  시스템반도체  티엘아이  35.97  1.12
4  시스템반도체  아이에이  37.32  3.55

In [74]:
df.groupby('테마').get_group('해운')

   테마  종목명    PER   PBR
1  해운  팬오션  21.23  0.95
3  해운  HMM  21.52  3.20

In [76]:
df.groupby('테마').get_group('2차전지(생산)')

         테마      종목명    PER   PBR
0  2차전지(생산)  SK이노베이션  10.19  1.29
5  2차전지(생산)     LG화학  83.06  3.75

## groupby 심화
- 이 파일의 일자를 활용해, 연도/월/일로 나누어 데이터를 관리해보자

### datetime 활용
- 날짜 정보가, 인덱스이면서, datetime 형식이어야 가능함.

In [78]:
df = pd.read_excel("c:/Archiving/IMDGB/step02_ds_basic/dataset/ss_ex_1.xlsx" , parse_dates=['일자'], index_col=0)
df.head()

C:\iMDGBA\venv\Lib\site-packages\openpyxl\styles\stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,종가,대비,등락률,시가,고가,저가,거래량,거래대금,시가총액,상장주식수
일자,,,,,,,,,,
2021-08-13,74400,-2600,-3.38,75800,76000,74100,61270643,4575267536355,444151821720000,5969782550
2021-08-12,77000,-1500,-1.91,77100,78200,76900,42365223,3276635421700,459673256350000,5969782550
2021-08-11,78500,-1700,-2.12,79600,79800,78500,30241137,2389977254924,468627930175000,5969782550
2021-08-10,80200,-1300,-1.60,82300,82400,80100,20362639,1643107615500,478776560510000,5969782550
2021-08-09,81500,0,0.00,81500,82300,80900,15522581,1267668377900,486537277825000,5969782550

In [80]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 127 entries, 2021-08-13 to 2021-02-15
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   종가      127 non-null    int64
 1   대비      127 non-null    int64
 2   등락률     127 non-null    float64
 3   시가      127 non-null    int64
 4   고가      127 non-null    int64
 5   저가      127 non-null    int64
 6   거래량     127 non-null    int64
 7   거래대금    127 non-null    int64
 8   시가총액    127 non-null    int64
 9   상장주식수   127 non-null    int64
dtypes: float64(1), int64(9)
memory usage: 10.9 KB

In [81]:
df.index

DatetimeIndex(['2021-08-13', '2021-08-12', '2021-08-11', '2021-08-10',
               '2021-08-09', '2021-08-06', '2021-08-05', '2021-08-04',
               '2021-08-03', '2021-08-02',
               ...
               '2021-02-26', '2021-02-25', '2021-02-24', '2021-02-23',
               '2021-02-22', '2021-02-19', '2021-02-18', '2021-02-17',
               '2021-02-16', '2021-02-15'],
              dtype='datetime64[ns]', name='일자', length=127, freq=None)

In [82]:
type(df.index)

pandas.core.indexes.datetimes.DatetimeIndex

In [94]:
# reset_index 등으로 일자를 인덱스가 아닌 컬럼으로 만들면서 , 
#atetime 형식으로 해야함! 
#그래야 datetime 메서드 사용 가능

In [91]:
df2 = df.reset_index()
df2.head()

,일자,종가,대비,등락률,시가,고가,저가,거래량,거래대금,시가총액,상장주식수
0,2021-08-13,74400,-2600,-3.38,75800,76000,74100,61270643,4575267536355,444151821720000,5969782550
1,2021-08-12,77000,-1500,-1.91,77100,78200,76900,42365223,3276635421700,459673256350000,5969782550
2,2021-08-11,78500,-1700,-2.12,79600,79800,78500,30241137,2389977254924,468627930175000,5969782550
3,2021-08-10,80200,-1300,-1.60,82300,82400,80100,20362639,1643107615500,478776560510000,5969782550
4,2021-08-09,81500,0,0.00,81500,82300,80900,15522581,1267668377900,486537277825000,5969782550

In [92]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 127 entries, 0 to 126
Data columns (total 11 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   일자      127 non-null    datetime64[ns]
 1   종가      127 non-null    int64
 2   대비      127 non-null    int64
 3   등락률     127 non-null    float64
 4   시가      127 non-null    int64
 5   고가      127 non-null    int64
 6   저가      127 non-null    int64
 7   거래량     127 non-null    int64
 8   거래대금    127 non-null    int64
 9   시가총액    127 non-null    int64
 10  상장주식수   127 non-null    int64
dtypes: datetime64[ns](1), float64(1), int64(9)
memory usage: 11.0 KB

> - 이미 '일자'가 datetime 이다.
> - pandas datetime을 이용해, 분기 연 월 일 정보를 뽑자
> - datetime documentaiton 참고

In [95]:
df2['일자'].dt.quarter # 분기 정보가 나온다
df2['일자'].dt.year # 연 정보가 나온다
df2['일자'].dt.month # 월 정보가 나온다
df2['일자'].dt.day # 일 정보가 나온다

0      13
1      12
2      11
3      10
4       9
       ..
122    19
123    18
124    17
125    16
126    15
Name: 일자, Length: 127, dtype: int32

In [97]:
df.index.quarter

Index([3, 3, 3, 3, 3, 3, 3, 3, 3, 3,
       ...
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
      dtype='int32', name='일자', length=127)

- DatetimeIndex 객체는 이미 날짜/시간 형식을 갖추고 있으므로
- .dt 없이 df.index.quarter, df.index.year, df.index.month 등의 속성을 바로 사용할 수 있습니다.

In [98]:
# 분기 / 연 / 월 / 일 정보를 컬럼 추가해보자
df2['분기'] = df2['일자'].dt.quarter
df2['연도'] = df2['일자'].dt.year 
df2['월'] = df2['일자'].dt.month
df2['일'] = df2['일자'].dt.day
print(df2.head())

          일자     종가    대비   등락률     시가     고가     저가       거래량           거래대금  \
0 2021-08-13  74400 -2600 -3.38  75800  76000  74100  61270643  4575267536355
1 2021-08-12  77000 -1500 -1.91  77100  78200  76900  42365223  3276635421700
2 2021-08-11  78500 -1700 -2.12  79600  79800  78500  30241137  2389977254924
3 2021-08-10  80200 -1300 -1.60  82300  82400  80100  20362639  1643107615500
4 2021-08-09  81500     0  0.00  81500  82300  80900  15522581  1267668377900

              시가총액       상장주식수  분기    연도  월   일
0  444151821720000  5969782550   3  2021  8  13
1  459673256350000  5969782550   3  2021  8  12
2  468627930175000  5969782550   3  2021  8  11
3  478776560510000  5969782550   3  2021  8  10
4  486537277825000  5969782550   3  2021  8   9

In [99]:
df2.head()

,일자,종가,대비,등락률,시가,고가,저가,거래량,거래대금,시가총액,상장주식수,분기,연도,월,일
0,2021-08-13,74400,-2600,-3.38,75800,76000,74100,61270643,4575267536355,444151821720000,5969782550,3,2021,8,13
1,2021-08-12,77000,-1500,-1.91,77100,78200,76900,42365223,3276635421700,459673256350000,5969782550,3,2021,8,12
2,2021-08-11,78500,-1700,-2.12,79600,79800,78500,30241137,2389977254924,468627930175000,5969782550,3,2021,8,11
3,2021-08-10,80200,-1300,-1.60,82300,82400,80100,20362639,1643107615500,478776560510000,5969782550,3,2021,8,10
4,2021-08-09,81500,0,0.00,81500,82300,80900,15522581,1267668377900,486537277825000,5969782550,3,2021,8,9

### group by & .get_group

In [100]:
df2.head(3)

,일자,종가,대비,등락률,시가,고가,저가,거래량,거래대금,시가총액,상장주식수,분기,연도,월,일
0,2021-08-13,74400,-2600,-3.38,75800,76000,74100,61270643,4575267536355,444151821720000,5969782550,3,2021,8,13
1,2021-08-12,77000,-1500,-1.91,77100,78200,76900,42365223,3276635421700,459673256350000,5969782550,3,2021,8,12
2,2021-08-11,78500,-1700,-2.12,79600,79800,78500,30241137,2389977254924,468627930175000,5969782550,3,2021,8,11

In [102]:
result = df2.groupby(['연도','월'])
result.head(3)

,일자,종가,대비,등락률,시가,고가,저가,거래량,거래대금,시가총액,상장주식수,분기,연도,월,일
0,2021-08-13,74400,-2600,-3.38,75800,76000,74100,61270643,4575267536355,444151821720000,5969782550,3,2021,8,13
1,2021-08-12,77000,-1500,-1.91,77100,78200,76900,42365223,3276635421700,459673256350000,5969782550,3,2021,8,12
2,2021-08-11,78500,-1700,-2.12,79600,79800,78500,30241137,2389977254924,468627930175000,5969782550,3,2021,8,11
10,2021-07-30,78500,-500,-0.63,78900,78900,78500,13823411,1086488907610,468627930175000,5969782550,3,2021,7,30
11,2021-07-29,79000,-200,-0.25,78800,79400,78800,14360453,1134761032300,471612821450000,5969782550,3,2021,7,29
12,2021-07-28,79200,700,0.89,78300,79200,78100,12743417,1000757015703,472806777960000,5969782550,3,2021,7,28
32,2021-06-30,80700,-300,-0.37,81100,81400,80700,13288643,1075902355151,481761451785000,5969782550,2,2021,6,30
33,2021-06-29,81000,-900,-1.10,81900,82100,80800,15744317,1277813841567,483552386550000,5969782550,2,2021,6,29
34,2021-06-28,81900,300,0.37,81700,82000,81600,11578529,946992165410,488925190845000,5969782550,2,2021,6,28
54,2021-05-31,80500,400,0.50,80300,80600,79600,13321324,1065281026200,480567495275000,5969782550,2,2021,5,31
55,2021-05-28,80100,500,0.63,79800,80400,79400,12360199,988665902752,478179582255000,5969782550,2,2021,5,28
56,2021-05-27,79600,-200,-0.25,80000,80000,79100,23198510,1845463410840,475194690980000,5969782550,2,2021,5,27
73,2021-04-30,81500,-200,-0.24,81900,82100,81500,18673197,1525090284512,486537277825000,5969782550,2,2021,4,30
74,2021-04-29,81700,-400,-0.49,82400,82500,81500,20000973,1638811445660,487731234335000,5969782550,2,2021,4,29
75,2021-04-28,82100,-800,-0.97,83200,83200,82100,15596759,1284554388615,490119147355000,5969782550,2,2021,4,28
95,2021-03-31,81400,-800,-0.97,82400,82700,81400,17240518,1413779202400,485940299570000,5969782550,1,2021,3,31
96,2021-03-30,82200,600,0.74,81600,82300,81300,13121698,1074968693016,490716125610000,5969782550,1,2021,3,30
97,2021-03-29,81600,100,0.12,81700,81700,81000,14952134,1216567675700,487134256080000,5969782550,1,2021,3,29
117,2021-02-26,82500,-2800,-3.28,82800,83400,82000,38520800,3175845143233,492507060375000,5969782550,1,2021,2,26
118,2021-02-25,85300,3300,4.02,84000,85400,83000,34155986,2880259491180,509222451515000,5969782550,1,2021,2,25
119,2021-02-24,82000,0,0.00,81800,83600,81300,26807651,2208585141393,489522169100000,5969782550,1,2021,2,24

In [103]:
# group by 한 것 중에, 2021년 2월 자료만 가져오기
result2 = df2.groupby(['연도','월']).get_group((2021, 2))
result2.head()

,일자,종가,대비,등락률,시가,고가,저가,거래량,거래대금,시가총액,상장주식수,분기,연도,월,일
117,2021-02-26,82500,-2800,-3.28,82800,83400,82000,38520800,3175845143233,492507060375000,5969782550,1,2021,2,26
118,2021-02-25,85300,3300,4.02,84000,85400,83000,34155986,2880259491180,509222451515000,5969782550,1,2021,2,25
119,2021-02-24,82000,0,0.00,81800,83600,81300,26807651,2208585141393,489522169100000,5969782550,1,2021,2,24
120,2021-02-23,82000,-200,-0.24,81200,82900,81100,20587314,1683933027000,489522169100000,5969782550,1,2021,2,23
121,2021-02-22,82200,-400,-0.48,83800,84200,82200,25419886,2113624966100,490716125610000,5969782550,1,2021,2,22

In [106]:
# group by 한 것의 시가 평균
result3 = df2.groupby(['연도','월'])['시가'].mean()
result3

연도    월
2021  2    83130.000000
      3    82250.000000
      4    83786.363636
      5    80547.368421
      6    81195.454545
      7    79645.454545
      8    80230.000000
Name: 시가, dtype: float64

### dictionary 활용
- 연도, 월로 groupby 한 거 안에서
- 각 월별 종가, 저가, 고가가 알고 싶다.
- 이때는 딕셔너리가 필요함

In [107]:
multiples = {
   "시가" : "first",
   "저가" : min,
   "고가" : max,
   "종가" : 'last' 
}
result4 = df2.groupby(['연도','월']).agg(multiples) #multiples 참조해서 컬럼 가가
print(result4)

           시가     저가     고가     종가
연도   월
2021 2  82800  81000  86000  84200
     3  82400  80600  85300  83600
     4  81900  81500  86200  82900
     5  80300  78400  83500  81700
     6  81100  79600  83000  80600
     7  78900  78100  81300  80100
     8  75800  74100  83300  79300

C:\Users\chaer\AppData\Local\Temp\ipykernel_6060\1843726645.py:7: FutureWarning: The provided callable <built-in function min> is currently using SeriesGroupBy.min. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "min" instead.
  result4 = df2.groupby(['연도','월']).agg(multiples) #multiples 참조해서 컬럼 가가
C:\Users\chaer\AppData\Local\Temp\ipykernel_6060\1843726645.py:7: FutureWarning: The provided callable <built-in function max> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  result4 = df2.groupby(['연도','월']).agg(multiples) #multiples 참조해서 컬럼 가가

In [ ]:

print(result3.reset_index()) # 리셋 인덱스 해야 처리하기 쉬움. ..아님 각 컬럼을 만드는게 나음.